***SMART BRIDGE AI ML ASSIGNMENT 1***
***NAME: N ANIRUDDHAN***
***REG: 21BRS1682***

Task 1: Create a dataframe df, with numpy values (4 features, 4 values)

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(4,4)
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   1.600507   2.045387  -0.629099   0.255573
1  -0.657032   0.011543  -1.003122   0.321651
2  -0.764738  -0.506669   1.130918   1.881572
3   0.643083   0.989099  -1.287287   0.205672

Task 2: Rename the data frame df columns 'Feature 1','Feature 2','Feature 3','Feature 4' to 'rv1','rv2', 'rv3','rv4'

In [ ]:
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
df = df.rename(columns={'Feature 1': 'rv1', 'Feature 2': 'rv2', 'Feature 3': 'rv3', 'Feature 4': 'rv4'})
print(df)

        rv1       rv2       rv3       rv4
0  1.600507  2.045387 -0.629099  0.255573
1 -0.657032  0.011543 -1.003122  0.321651
2 -0.764738 -0.506669  1.130918  1.881572
3  0.643083  0.989099 -1.287287  0.205672

Task 3: find descriptive statistics of the dataframe

In [ ]:
print(df.describe())
print(df.info())

            rv1       rv2       rv3       rv4
count  4.000000  4.000000  4.000000  4.000000
mean   0.205455  0.634840 -0.447148  0.666117
std    1.128841  1.126452  1.086023  0.811694
min   -0.764738 -0.506669 -1.287287  0.205672
25%   -0.683959 -0.118010 -1.074163  0.243098
50%   -0.006975  0.500321 -0.816111  0.288612
75%    0.882439  1.253171 -0.189095  0.711631
max    1.600507  2.045387  1.130918  1.881572
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rv1     4 non-null      float64
 1   rv2     4 non-null      float64
 2   rv3     4 non-null      float64
 3   rv4     4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes
None

**Task 4: check for null values in 'df' and find the data type of the columns**

In [ ]:
print(df.dtypes)
print(df.isnull())

rv1    float64
rv2    float64
rv3    float64
rv4    float64
dtype: object
     rv1    rv2    rv3    rv4
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False

**Task 5: display 'rv2','rv3' columns using iloc and loc methods**

In [ ]:
df.loc[:,['rv2','rv3']]

        rv2       rv3
0  2.045387 -0.629099
1  0.011543 -1.003122
2 -0.506669  1.130918
3  0.989099 -1.287287

In [ ]:
df.iloc[:,1:3]

        rv2       rv3
0  2.045387 -0.629099
1  0.011543 -1.003122
2 -0.506669  1.130918
3  0.989099 -1.287287